#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "ringbearer";
    color: goldenrod;
    font-size: 10vw;
    background-color: rgba(0, 0, 0, 0.045);
}

.header {
    width: 100vw;
    height: 200px;
    background-image: url(./Images/malenia.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main { 
    border-top: 3px solid goldenrod;
    width: 80vw;
    padding: 10vh 10vw;
    background: linear-gradient(80deg, #7c1010, #7e1b1b, #3A1111);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-content: center;
}

.scoreBoard {
    display: flex;
    justify-content: center;
    gap: 5vw;
    color: goldenrod;
    font-size: 1.75rem;
    font-family: "ringbearer";
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 5%;
    padding:0.5rem 1vw 0.5rem 1vw;
    background: rgba(0, 0, 0, 0.624);
    border: rgba(0, 0, 0, 0.183) solid 3px;
}

img {
    border: goldenrod 3px solid;
    border-radius: 5%;
    width: 100%;
    max-height: 250px;
    object-fit: cover;

}

.card > p {
    font-size: 1.5rem;
    font-family: "ringbearer";
    color: rgba(218, 165, 32, 0.863);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(39, 0, 0, 0.95);
    display: flex;
    flex-direction:  column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.modal  button {
    font-size: 5vw;
    margin-top: 5vh;
}

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: goldenrod;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: rgb(95, 13, 13);
}

